USE [master]
GO
/****** Object:  Database [OnlineBookShop]    Script Date: 2024/7/30 下午 04:41:46 ******/
CREATE DATABASE [OnlineBookShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineBookShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OnlineBookShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineBookShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OnlineBookShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineBookShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineBookShop]
GO
/****** Object:  User [IIS APPPOOL\OnlineBookShop]    Script Date: 2024/7/30 下午 04:41:46 ******/
CREATE USER [IIS APPPOOL\OnlineBookShop] FOR LOGIN [IIS APPPOOL\OnlineBookShop] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\OnlineBookShop]
GO
/****** Object:  Table [dbo].[AuthorTbl]    Script Date: 2024/7/30 下午 04:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorTbl](
	[AutId] [int] NOT NULL,
	[AutName] [varchar](50) NOT NULL,
	[AutGender] [varchar](50) NOT NULL,
	[AutCountry] [varchar](150) NOT NULL,
 CONSTRAINT [PK_AuthorTbl] PRIMARY KEY CLUSTERED 
(
	[AutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTbl]    Script Date: 2024/7/30 下午 04:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTbl](
	[BillId] [int] NOT NULL,
	[BDate] [date] NOT NULL,
	[Seller] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_BillTbl] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTbl]    Script Date: 2024/7/30 下午 04:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTbl](
	[BId] [int] IDENTITY(1,1) NOT NULL,
	[BName] [varchar](150) NOT NULL,
	[BAuthor] [int] NOT NULL,
	[BCategory] [int] NOT NULL,
	[BQty] [int] NOT NULL,
	[BPrice] [int] NOT NULL,
 CONSTRAINT [PK_BookTbl] PRIMARY KEY CLUSTERED 
(
	[BId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTbl]    Script Date: 2024/7/30 下午 04:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTbl](
	[CatId] [int] NOT NULL,
	[CatName] [varchar](150) NOT NULL,
	[CatDescription] [varchar](150) NOT NULL,
 CONSTRAINT [PK_CategoryTbl] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerTbl]    Script Date: 2024/7/30 下午 04:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerTbl](
	[SelId] [int] IDENTITY(1,1) NOT NULL,
	[SelName] [varchar](50) NOT NULL,
	[SelEmail] [varchar](150) NOT NULL,
	[SelPhone] [varchar](50) NOT NULL,
	[SelPass] [varchar](150) NOT NULL,
 CONSTRAINT [PK_SellerTbl] PRIMARY KEY CLUSTERED 
(
	[SelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookTbl]  WITH CHECK ADD  CONSTRAINT [FK_2] FOREIGN KEY([BCategory])
REFERENCES [dbo].[CategoryTbl] ([CatId])
GO
ALTER TABLE [dbo].[BookTbl] CHECK CONSTRAINT [FK_2]
GO
ALTER TABLE [dbo].[BookTbl]  WITH CHECK ADD  CONSTRAINT [FK_3] FOREIGN KEY([BAuthor])
REFERENCES [dbo].[AuthorTbl] ([AutId])
GO
ALTER TABLE [dbo].[BookTbl] CHECK CONSTRAINT [FK_3]
GO
USE [master]
GO
